<div class="container border">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a routerLink="/reddit" routerLinkActive="active">Reddit</a></li>
        <li role="presentation"><a routerLink="/todolist" routerLinkActive="active">ToDo</a></li>
        <li role="presentation"><a routerLink="/login" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
    <h4 class="text-muted">Digihey</h4>
  </div>
</div>
<router-outlet></router-outlet>
